/* Body CSS */
/* General CSS for All Pages */
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
}

li a {
    float: left;
}

.logo_container {
    background-color: #DC4405;
    padding: 10px;
}

.spacer {
    margin: 100px;
}

/* Homepage CSS */
.totalGrads {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.totalGradsTitle {
    text-align: center;
    font-family: sans-serif;
}

.statistics_links {
    margin-top: 100px;
    text-align: center;
}

.homeBtn, .genderBtn, .degreeBtn, .collegeBtn {
    background-color: #333;
    color: white;
    border: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-family: sans-serif;    
    text-decoration: none;
}

.homeBtn:hover, .genderBtn:hover, .degreeBtn:hover, .collegeBtn:hover {
    cursor: pointer;
    background-color: #7F2703;
    transition-duration: 0.4s;
}


/* Gender CSS */
.genderTitle {
    text-align: center;
    font-family: sans-serif;    
}

.gender-container-1 {
    margin-left: 200px;
}

.gender-container-2 {
    margin-left: 350px;
}

.g-2001, .g-2005, .g-2009, .g-2013, .g-2017 {

}


/* Degree CSS */
.degreeTitle {
    text-align: center;
    font-family: sans-serif;    
}

.d-2001, .d-2005, .d-2009, .d-2013, .d-2017 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}


/* College CSS */
.collegeTitle {
    text-align: center;
    font-family: sans-serif;    
}

.college-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Footer */
.footer {
    position: relative;
    bottom: 0;
    left: 0px;
    background-color: #333;
    width: 100%;
    height: 100%;
}

.footer p {
    text-align: center;
    color: white;
    padding-top: 8px;
    margin-left: 10px;
    font-family: sans-serif;
}