/* Body CSS */
/* General CSS for All Pages */
.osu_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    margin: 100px;
}

/* Homepage CSS */
.totalGrads {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.totalGradsTitle {
    text-align: center;
}

.statistics_links {
    margin-top: 100px;
    text-align: center;
}

.genderBtn, .degreeBtn, .collegeBtn {
    background-color: #DC4405;
    color: white;
    border: none;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}

.genderBtn:hover, .degreeBtn:hover, .collegeBtn:hover {
    cursor: pointer;
    background-color: #7F2703;
    transition-duration: 0.4s;
}


/* Gender CSS */
.genderTitle {
    text-align: center;
}

.gender-container-1 {
    margin-left: 200px;
}

.gender-container-2 {
    margin-left: 350px;
}

.g-2001, .g-2005, .g-2009, .g-2013, .g-2017 {

}


/* Degree CSS */
.degreeTitle {
    text-align: center;
}

.d-2001, .d-2005, .d-2009, .d-2013, .d-2017 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}


/* College CSS */
.collegeTitle {
    text-align: center;
}

.college-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    right: 10px;
    text-decoration: none;
}